$corner-radius: 0.4rem;

.#{$prefix}-m-thumbnail {
  padding-right: 2rem;
  width: 50%;

  @include breakpoint-xs {
    align-items: center;
    display: flex;
    padding-right: 0;
    width: 100%;
  }

  img {
    border-radius: $corner-radius;
    display: block;
    margin: 0 auto;
    width: 100%;

    @include breakpoint-xs {
      width: 70%;
    }
  }

  figure {
    margin-left: 0;
    position: relative;
    width: 100%;

    &:hover {
      figcaption {
        color: $color-white;
        opacity: 1;
      }
    }
  }

  figcaption {
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    border-radius: $corner-radius;
    bottom: 0;
    color: transparent;
    display: flex;
    font-size: 1.8rem;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: opacity 1s ease, color 4s ease;
    width: 100%;

    @include breakpoint-xs {
      display: none;
    }
  }
}
