<section class="<%= data.prefix %>-m-thumbnail">
  <figure>
    <img src="<%- require('./app/assets/imgs/me.jpg') %>" alt="<%= data.imgAlt %>">
    <figcaption><%= data.figureCaption %></figcaption>
  </figure>
</section>
