// --------------------------------------------------
// Global variables
// --------------------------------------------------
$prefix: 'cv';

// font family
$font-family: 'Open Sans', sans-serif;

// Colors
$color-white: #fff;
$color-black: #000;
$color-gallery: #efefef;

// Breakpoints
$breakpoint-xs: 768px;
