// --------------------------------------------------
// Global variables
// --------------------------------------------------
$prefix: 'cv';

$font-family: 'Open Sans', sans-serif;

$color-white: #fff;
$color-black: #000;
$color-gallery: #efefef;
