<section class="<%= data.prefix %>-m-profile">

  <h1><%= data.name %></h1>

  <h2><%= data.jobTitle %></h2>

  <p class="description">
    <%= data.description %>
  </p>

  <div class="svg-container">
    <svg role="img" class="icon-same-size"><use xlink:href="#icon-html"/></svg>
    <svg role="img" class="icon-same-size"><use xlink:href="#icon-css"/></svg>
    <svg role="img"><use xlink:href="#icon-js"/></svg>
    <svg role="img"><use xlink:href="#icon-angular"/></svg>
    <svg role="img"><use xlink:href="#icon-ionic"/></svg>
    <span>...</span>
  </div>

</section>
